/* color changing animation effect*/

#author-alert{
   
    animation-name:colorchange;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
@keyframes colorchange{

0%{

        color:#ff0000;
    }
25% {

       color:white;
    }

50%{

     color:yellow;

    }
100%{

     color:#2b0cb5;
    }

  }


.animate-name{

    animation-name:colorchange;
    animation-duration:4s;
    animation-iteration-count:infinite;
}

@keyframes colorchange{

    0%{
    
            color:#b7c916;
        }
    25% {
    
           color:rgb(19, 133, 190);
        }
    
    50%{
    
         color:rgb(68, 21, 240);
    
        }
    100%{
    
         color:#f608d2;
        }
    
      }
    

      .animate-name{

        font-style: italic;
        opacity:70%;
      }
    